body {
  background-color: antiquewhite;
}

.loginStatusOuter {
  border: 1px dotted green;
  text-align: center;
  padding: 0.25em;
}

.loginStatus {
  margin: 0 auto;
  padding: 0.25em;
  background-color: #DDFFEE;
}

.hidden {
  visibility: hidden;
  display: none;
  opacity: 0;
}