body {
  background-color: antiquewhite;
}

.loginStatusOuter {
  border: 1px dotted green;
  text-align: center;
  padding: 0.25em;
}

.loginStatus {
  margin: 0 auto;
  padding: 0.25em;
  background-color: #DDFFEE;
}

.hidden {
  visibility: hidden;
  display: none;
  opacity: 0;
}

form label {
   display: block;
}

form input[type=text] {
   min-width: 40em;
}

form label textarea {
  position: relative;
  top: 1.5em;
}

input[type=submit] {
  margin: 1em;
  padding: 1em;
}

div.buttonbar form {
   display: inline;
}

div.buttonbar form button {
   padding: 1em;
}

div.oneNote {
  padding: 1em;
  margin: 1em;
  border: thick double #003366;
  position: relative;
}

div.oneNote div.contents {
  padding: 1em;
  margin: 0.5em;
  border-left: 1px dotted blue;
  width: 100%;
  text-align: center;
  display: inline-block;
}

div.oneNote div.timestamps {
  display: inline-block;
  position: relative;
  min-width: 30em;
  font-size: 70%;
  font-family: monospace;
}

div.timestamps span.created {
  position: absolute;
  top: -2.5em;
  left: 1em;
}

div.timestamps span.modified {
  position: absolute;
  top: -1.25em;
  left: 1em;
}

div.oneNote a.delete {
  color: red !important;
  position: absolute;
  right: 0;
  top: 0;
}

form.deleteForm {
  width: 100%;
  text-align: center;
}

form.deleteForm input {
  font-family: monospace;
  font-weight: bold;
  font-size: 140%;
  background-color: #FF8844;
  margin: 0.5em;
  padding: 0.5em;
}

form.deleteForm input:hover {
  background-color: #FF4400;
}

p.warning {
   width: 100%;
   text-align: center;
}

p.warning span.title {
  font-style: italic;
  color: blue;
}

p.warning span.danger {
  font-weight: bold;
  color: red;
}