div#main {
   padding: 0.5em;
   margin: 0.5em;
}

.introPanel {
     border-bottom: 2px double blue;
}

.mongoPanel {
    background-color: mistyrose;
    box-shadow: 10px 10px 5px #888888;
}

.collectionPane {
   padding: 1em;
   margin: 1em;
   position: relative;
   width: 100%;
}

div.oneColl {
   margin: 1em;
   padding: 1em;
   display: inline-block;
   width: 25%;
   border: 2px solid green;
}

div.oneColl p {
  font-weight:normal;
}

.oneColl span.collName, .oneColl span.collCount {
  font-family: monospace;
  font-weight: bold;
}